# unnecessary files
.DS_STORE
desktop.ini
RECOVER_*.fla
vscode-project.hxml
commands/compile/platform.txt
# easy shortcut to where flixel outputs the engines save data
.saves.lnk

# unnecessary folders
.haxelib/
.tracy/
export/
dump/