# unnecessary files
.DS_STORE
desktop.ini
RECOVER_*.fla
vscode-project.hxml

# unnecessary folders
.haxelib/
export/
dump/

# switch out "cpp" with your platform (windows, mac, linux, android, ios)
.vscode/tasks.json