[submodule "Assets Folder"]
	path = engine/assets
	url = https://github.com/Funkin-Imaginative/imaginative.assets

[submodule "Extras Folder"]
	path = extras
	url = https://github.com/Funkin-Imaginative/imaginative.extras