# unnecessary files
.DS_STORE
desktop.ini
RECOVER_*.fla
vscode-project.hxml

# unnecessary folders
.haxelib/
.vscode/
export/
dump/

# exceptions
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
# switch out "cpp" with your platform (windows, mac or linux most likely)
# !.vscode/tasks.json
### WHY DOESN'T IT FUCKING IGNORE IT?????????